
Makefile.bak

config.log

config.status

config/config-darwin-gcc.defs

config/config.mk

config/InterViews/Makefile

config/Makefile

src/include/ipl/Makefile

src/include/Makefile

src/ipledit_/Makefile

src/IplEdit/Makefile

src/iplserv_/Makefile

src/IplServ/Makefile

src/Makefile

src/scripts/Makefile
