LINUX

Makefile.bak

config.log

config.status

config/config-darwin-gcc.defs

config/config.mk

config/InterViews/Makefile

config/Makefile

src/include/ipl/Makefile

src/include/Makefile

src/ipledit_/Makefile

src/IplEdit/Makefile

src/iplserv_/Makefile

src/IplServ/Makefile

src/Makefile

src/scripts/Makefile

configure.orig

src/ipledit_/DARWIN/Makefile

*.depend

src/IplEdit/DARWIN/Makefile

src/iplserv_/DARWIN/Makefile

src/IplServ/DARWIN/Makefile

src/ipledit_/DARWIN

src/IplEdit/DARWIN

src/iplserv_/DARWIN

src/IplServ/DARWIN/

Makefile

make.make

make.makefile

make.makefiles

*.o

*.c~

*.def~

*.DARWIN~

*.dylib

src/ipledit_/DARWIN/a.out

*.out

COPYRIGHT~

INSTALL~

src/utils/README~

*.h~

MANIFEST~

src/IplEdit/Imakefile~

src/IplServ/Imakefile~

config/.#site.def.DARWIN

scripts/iplserv_run~

scripts/printio~

src/scripts/Imakefile~

src/scripts/printio~

*.ipd~

src/scripts/iplserv_run~

src/scripts/fgstats~

src/scripts/fgexp~

*.c#
